- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the FIXME application.
  %p Click 'new #{ARMADA_COMPONENT}' to create a new speed racing corvette ship.
#sidebar
  %p sidebar